/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #ff0070;
  --text-color: #F1B2CE;
  --background-color: #000028;
  --title-color: #DB00FF;
  --header-image: url("/images/cover-image-dark.png");
  --pseudo-corner: #ff0070;
  --section-title-color: #ff0070;
  --text-title-color: #000028;
  --rec-opacity: 1;
  --border-hover-color: #FF007066;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --text-color: #F1B2CE;
    --background-color: #000028;
    --title-color: #DB00FF;
    --header-image: url("/images/cover-image-dark.png");
    --pseudo-corner: #ff0070;
    --section-title-color: #ff0070;
    --text-title-color: #000028;
    --rec-opacity: 1;
    --border-hover-color: #FF007066;
  }
}

