/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --text-color: #F1B2CE;
  --background-color: #000028;
  --title-color: #DB00FF;
  --header-image: url("/images/cover-image-dark.png");
  --pseudo-corner: #ff0070;
  --section-title-color: #ff0070;
}

@media (width <= 785px) and (width > 392px) {
  html .content {
    width: 100%;
    max-width: 100%;
  }

  html .header {
    height: 1024px;
  }

  html .footer {
    height: 1024px;
  }

  html .page {
    width: 100%;
  }

  html .sunset {
    max-width: 100%;
    width: 100%;
    height: 192px;
    grid-column: span 2;
  }

  html .ice-cream {
    max-width: 100%;
    width: 100%;
    height: 441px;
    grid-row: span 2;
  }

  html .books {
    max-width: 100%;
    width: 100%;
    height: 230px;
  }

  html .tape {
    max-width: 100%;
    width: 100%;
    height: 568px;
    grid-row: span 2;
  }

  html .street {
    max-width: 100%;
    width: 100%;
    height: 318px;
    grid-column: span 2;
  }

  html .gallery {
    display: grid;
    gap: 20px;
    max-width: 100%;
    width: 100%;
    height: 780px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 192px;
    margin-bottom: 60px;
  }

  html .header__subtitle {
    width: 364px;
    height: 117px;
    margin-top: 146px;
  }

  html .content__text-block_title {
    width: 100%;
    max-width: 100%;
  }

  html .header__title {
    margin-top: 155px;
    font-size: clamp(7.25rem, 7.0202rem + 0.978vw, 7.5rem);
  }

  html .footer__title {
    font-size: 120px;
  }

  html .header__theme-menu-list {
    align-items: flex-end;
    flex-direction: column;
    padding: 186px 20px 0 0;
  }

  html .header__theme-menu-button {
    margin: 5px 0;
  }

  html .content__text-card {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    padding: 0;
  }

  html .content__text-container-row {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }

  html .content__text-card:nth-child(2) {
    margin: 20px 0 0;
  }

  html .content__title {
    width: 236px;
  }

  html .content__text-container-column {
    width: 100%;
    max-width: 472px;
    min-width: 0;
    margin-left: 20px;
  }

  html .content__text-section_container {
    max-width: 100%;
  }

  html .content__text {
    width: 100%;
    max-width: 100%;
  }
}

@media (width > 392px) and (width < 785px) {
  html .page {
    word-break: break-all;
  }

  html .content__text-container-column {
    width: 100%;
    max-width: 100%;
  }
}

@media (width <= 392px) {
  html .content {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    max-width: 100%;
    padding: 0 10px;
  }

  html .header__subtitle_position {
    justify-content: normal;
    padding: 0;
  }

  html .header {
    padding: 10px;
    height: 668px;
  }

  html .footer {
    width: 100%;
    height: 668px;
  }

  html .page {
    width: 100%;
    min-inline-size: 100%;
  }

  html .sunset {
    max-width: 100%;
    width: 100%;
    height: 142px;
    padding-right: 10px;
  }

  html .ice-cream {
    height: 355px;
    max-width: 100%;
    width: 100%;
    grid-row-start: 2;
  }

  html .books {
    max-width: 100%;
    width: 100%;
    height: 355px;
    grid-row-start: 4;
  }

  html .tape {
    max-width: 100%;
    width: 100%;
    height: 237px;
    grid-row-start: 3;
  }

  html .street {
    max-width: 100%;
    width: 100%;
    height: 237px;
    grid-row-start: 5;
    padding-right: 10px;
  }

  html .gallery {
    display: grid;
    gap: 10px;
    max-width: 100%;
    width: 100%;
    height: 1366px;
    margin-bottom: 40px;
    grid-template-columns: 100%;
    grid-template-rows: none;
  }

  html .header__subtitle {
    max-width: 100%;
    margin: 55px 0 0;
  }
  html .header__title {
    margin-top: 61px;
    height: 192px;
    font-size: clamp(2.5rem, -0.6667rem + 33.7778vw, 7.25rem);
    line-height: 95.7px;
  }

  html .header__theme-menu-list {
    align-items: flex-end;
    flex-direction: column;
    padding-top: 59px;
  }

  html .header__theme-menu-button {
    margin: 5px 0;
  }

  html .content__text-card {
    min-width: 0;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-top: 20px;
  }

  html .content__text-card:first-child {
    margin-top: 0;
  }

  html .content__text-card:last-child {
    margin-top: 0;
  }
  html .content__text-container-row {
    flex-direction: column;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  html .content__text-card:nth-child(2) {
    margin: 0;
  }

  html .content__title {
    width: 100%;
    max-width: 100%;
  }

  html .content__text-section_container {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin-top: 50px;
  }

  html .content__text {
    width: 100%;
    max-width: 100%;
  }

  html .content__text-block_title {
    min-width: 0;
    width: 100%;
    max-width: 100%;
  }

  html .content__text-block_title:first-child {
    margin-top: 20px;
  }

  html .content__text-container-column {
    margin: 0;
    min-width: 0;
    width: 100%;
    max-width: 100%;
  }

  html .content__text-section_container-column {
    margin-top: 50px;
    min-width: 0;
    width: 100%;
    max-width: 100%;
  }

  html .header:before {
    left: 10px;
    bottom: 10px;
  }

  html .header:after {
    right: 10px;
    top: 10px;
  }

  html .header__REC {
    right: 38px;
    top: 10px;
  }

  html .header__REC:after {
    top: 7px;
    right: -19px;
  }

  html .margin-accent {
    margin: 0;
  }

  html .content__gallery_title {
    margin: 50px 0 10px;
  }

  html .footer:before {
    left: 10px;
    bottom: 10px;
  }

  html .footer:after {
    right: 10px;
    top: 10px;
  }

  html .footer__title {
    font-size: clamp(2.5rem, -0.6667rem + 33.7778vw, 7.25rem);
  }
}

@media (width < 392px) {
  html .page {
    word-break: break-all;
  }
}