/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --text-color: #F1B2CE;
  --background-color: #000028;
  --title-color: #DB00FF;
  --header-image: url("/images/cover-image-dark.png");
  --pseudo-corner: #ff0070;
  --section-title-color: #ff0070;
}

@media (width <= 785px) and (width > 392px) {
  html .content {
    width: 768px;
  }

  html .header {
    width: 768px;
    height: 1024px;
  }

  html .footer {
    width: 768px;
    height: 1024px;
  }

  html .page {
    width: 768px;
  }

  html .sunset {
    width: 479px;
    height: 192px;
    grid-column: span 2;
  }

  html .ice-cream {
    width: 229px;
    height: 441px;
    grid-row: span 2;
  }

  html .books {
    width: 230px;
    height: 230px;
  }

  html .tape {
    width: 229px;
    height: 568px;
    grid-row: span 2;
  }

  html .street {
    width: 479px;
    height: 318px;
    grid-column: span 2;
  }

  html .gallery {
    display: grid;
    gap: 20px;
    width: 730px;
    height: 780px;
    grid-template-columns: repeat(auto-fill, 230px);
    grid-template-rows: 192px;
    margin-bottom: 60px;
  }

  html .header__subtitle {
    width: 364px;
    height: 117px;
    position: relative;
    left: 384px;
    top: 144px;
  }

  html .header__title {
    margin-top: 157px;
    font-size: 120px;
  }

  html .footer__title {
    font-size: 120px;
  }

  html .header__theme-menu-list {
    align-items: flex-end;
    flex-direction: column;
    padding: 186px 20px 0 0;
  }

  html .header__theme-menu-button {
    margin: 5px 0;
  }

  html .content__text-card {
    width: 728px;
  }

  html .content__text-container-row {
    flex-direction: column;
  }

  html .content__text-card:nth-child(2) {
    margin: 20px 0 0;
  }

  html .content__title {
    width: 236px;
  }

  html .content__text-container-column {
    min-width: 472px;
    width: 472px;
    margin-left: 20px;
  }
}

@media (width <= 392px) {
  html .content {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    max-width: 100%;
    padding: 0 10px;
  }

  html .header {
    /*width: 375px;*/
    height: 668px;
    padding: 10px;
  }

  html .footer {
    width: 100%;
    height: 668px;
  }

  html .page {
    width: 100%;
    min-inline-size: 100%;
    word-break: break-all;
  }

  html .sunset {
    max-width: 100%;
    width: 100%;
    height: 142px;
    padding-right: 10px;
  }

  html .ice-cream {
    max-width: 100%;
    width: 100%;
    height: 355px;
    grid-row-start: 2;
  }

  html .books {
    max-width: 100%;
    width: 100%;
    height: 355px;
    grid-row-start: 4;
  }

  html .tape {
    max-width: 100%;
    width: 100%;
    height: 237px;
    grid-row-start: 3;
  }

  html .street {
    max-width: 100%;
    width: 100%;
    height: 237px;
    grid-row-start: 5;
    padding-right: 10px;
  }

  html .gallery {
    display: grid;
    gap: 10px;
    max-width: 100%;
    width: 100%;
    height: 1366px;
    margin-bottom: 40px;
    grid-template-columns: 100%;
    grid-template-rows: none;
  }

  html .header__subtitle {
    max-width: 100%;
    margin: 55px 0 0;
  }
  html .header__title {
    margin-top: 61px;
    height: 192px;
    font-size: clamp(2.5rem, -0.6667rem + 33.7778vw, 7.25rem);
    line-height: 95.7px;
    word-break: normal;
  }

  html .header__theme-menu-list {
    align-items: flex-end;
    flex-direction: column;
    padding-top: 69px;
  }

  html .header__theme-menu-button {
    margin: 5px 0;
  }

  html .content__text-card {
    min-width: 0;
    width: 100%;
    max-width: 100%;
  }

  html .content__text-container-row {
    flex-direction: column;
    margin: 0;
    width: 100%;
    max-width: 100%;
  }

  html .content__text-card:nth-child(2) {
    margin: 0;
  }

  html .content__title {
    width: 100%;
    max-width: 100%;
  }

  html .content__text-section_container {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin-top: 50px;
  }

  html .content__text {
    width: 100%;
    max-width: 100%;
  }

  html .content__text-block_title {
    min-width: 0;
    width: 100%;
    max-width: 100%;
  }

  html .content__text-container-column {
    margin: 0;
    min-width: 0;
    width: 100%;
    max-width: 100%;
  }

  html .content__text-section_container-column {
    margin-top: 50px;
    min-width: 0;
    width: 100%;
    max-width: 100%;
  }

  html .header:before {
    left: 10px;
    bottom: 10px;
  }

  html .header:after {
    right: 10px;
    top: 10px;
  }

  html .header__REC {
    right: 38px;
    top: 10px;
  }

  html .header__REC:after {
    top: 7px;
    right: -19px;
  }

  html .margin-accent {
    margin: 0;
  }

  html .content__gallery_title {
    margin: 50px 0 10px;
  }

  html .footer:before {
    left: 10px;
    bottom: 10px;
  }

  html .footer:after {
    right: 10px;
    top: 10px;
  }

  html .footer__title {
    font-size: clamp(2.5rem, -0.6667rem + 33.7778vw, 7.25rem);
    word-break: normal;
  }
}